<ngx-loading [show]="loading"></ngx-loading>

<div class="jumbotron" *ngIf="user">
    <h3>Welcome, {{ user.accountOwner }}</h3>

    <h5>Actual balance: <span>R$ {{ user.accountBalance }}</span></h5>

    <div class="form-group mt-5">
        <label for="withdrawField">Withdraw value</label>
        <input type="text" class="form-control" id="withdrawField" aria-describedby="emailHelp" placeholder="R$ 00.00" [(ngModel)]="withDrawValue">
        <small id="emailHelp" class="form-text text-muted">Make sure your balance is positive and ok.</small>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Bank</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let bank of banks">
                {{ bank?.bankName}}
            </option>
        </select>
    </div>

    <p *ngIf="alert.show">
        <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
    </p>

    <button class="btn btn-success" (click)="submmitWithdraw()">Submit</button>

    <div *ngIf="bankNotes" class="mt-5">
        <h4 *ngIf="bankNotes.bankNote100 > 0">R$ 100's Banknote: <span>{{ bankNotes.bankNote100 }}</span></h4>
        <h4 *ngIf="bankNotes.bankNote50 > 0">R$ 50's Banknote: <span>{{ bankNotes.bankNote50 }}</span></h4>
        <h4 *ngIf="bankNotes.bankNote20 > 0">R$ 20's Banknote: <span>{{ bankNotes.bankNote20 }}</span></h4>
        <h4 *ngIf="bankNotes.bankNote10 > 0">R$ 10's Banknote: <span>{{ bankNotes.bankNote10 }}</span></h4>
    </div>
</div>